<!-- <html manifest="offline.appcache"> -->
<!DOCTYPE html>
<html>
<head>
	<title>Takeover</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" 			content="width=device-width, initial-scale=1.0">
	<meta name="description" 		content="Play the game takeover">

	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" 		rel="stylesheet" media="screen">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" 		rel="stylesheet" media="screen">
	<link href="assets/game.css" 														rel="stylesheet" media="screen">
</head>
<body>
	<header ng-include="'partials/header.html'"></header>
	<div id="mainContent" ng-controller="GameCtrl">
		<div class="row">
			<div class="col-md-8" ng-include="'partials/board.html'"></div>
			<div class="col-md-3" ng-include="'partials/players.html'"></div>
		</div>
		<a class="btn btn-warning reset" ng-click="tools.tile.undo()">Undo <i class="fa fa-undo"></i></a>
		<a class="btn btn-danger reset" ng-click="tools.game.reset()">Reset Board</a>
	</div>

	<!-- JAVASCRIPT -->
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-route.min.js"></script>
	<script type="text/javascript" src="assets/custom.js"></script>
	<script type="text/javascript" src="assets/app.js"></script>
	<script type="text/javascript" src="assets/game.js"></script>
	<script type="text/javascript" src="assets/factory.js"></script>
</body>
</html>